streamlit==1.45.1
ultralytics==8.3.142
opencv-python-headless==4.10.0.84
numpy==1.26.4
scikit-image==0.25.2
scikit-learn==1.7.0
joblib==1.5.1
Pillow==11.2.1
huggingface_hub==0.32.4
torch==2.7.0
torchvision==0.22.0
